/* Your app custom files in this file */
/* Tab bar icons */
i.tabbar-demo-icon-1 {
  width: 30px;
  height: 30px;
  background-image: url("../img/login.svg");
}
.active i.tabbar-demo-icon-1 {
  background-image: url("../img/login_fill.svg");
}
i.tabbar-demo-icon-2 {
  width: 25px;
  height: 30px;
  background-image: url("../img/list.svg");
}
.active i.tabbar-demo-icon-2 {
  background-image: url("../img/list_fill.svg");
}
i.tabbar-demo-icon-3 {
  width: 30px;
  height: 30px;
  background-image: url("../img/gear.svg");
}
.active i.tabbar-demo-icon-3 {
  background-image: url("../img/gear_fill.svg");
}
i.tabbar-demo-icon-4 {
  width: 25px;
  height: 30px;
  background-image: url("../img/info.svg");
}
.active i.tabbar-demo-icon-4 {
  background-image: url("../img/info_fill.svg");
}
